 .moviePic {
            height: 300px;
            width: 200px;
            opacity: 0.9;
            border-radius: 10px;
        }
        .movieDetail {
            position: relative;
            top: 20px;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            font-size: 18px;
            color: #333;
        }